<nav id="MyNavbar" *ngIf="navIsVisible" class="navbar navbar-expand-lg navbar-dark sticky-top animated bounceInLeft">
  <a class="navbar-brand" href="#">
    <!-- To add picture of my logo here!  -->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <!-- Div mx-auto to center li items in navbar -->
    <div class="navbar-nav mx-auto">
      <ul class="navbar-nav mr-auto">
        <li class="nav-link">
          <a data-target="#home" [className]="isHomeActive ? 'nav-link active' : 'nav-link inactive'"
            (click)="scrollToHome($event)">HOME <i class="fas fa-home"></i> </a>
        </li>

        <li class="nav-link">
          <a data-target="#about" [className]="isAboutActive ? 'nav-link active' : 'nav-link inactive'"
            (click)="scrollToAbout($event)">ABOUT
            ME
            <i class="fas fa-exclamation-circle"></i>
          </a>
        </li>

        <!-- 
        <li class="nav-link">
          <a [className]="isProjectsActive ? 'nav-link active' : 'nav-link inactive'"
            (click)="scrollToProjects($event)">PROJECTS
            <i class="fas fa-code"></i></a>
        </li> -->

        <li class="nav-link">
          <a data-target="#contact" [className]="isContactActive ? 'nav-link active' : 'nav-link inactive'"
            (click)="scrollToContact($event)">CONTACT <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li class="nav-link">
          <a class="nav-link" href="../../assets/data/Oriel Basson Resume.pdf" target="_blank"
            rel="noopener noreferrer">CV <i class="fas fa-file-alt"></i>
          </a>
        </li>
        <li class="nav-link">
          <a class="nav-link" href="https://www.linkedin.com/in/orielbasson/" target="_blank"
            rel="noopener noreferrer">LINKEDIN <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-link">
          <a class="nav-link" href="https://github.com/OrielBasson" target="_blank" rel="noopener noreferrer">GITHUB <i
              class="fab fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
