<div class="container-fluid">
  <!-- detect-scroll (onScroll)="handleScroll($event)" -->

  <!-- Section 2 - Home -->
  <div id="home">
    <app-home-section></app-home-section>
  </div>
  <!-- Navbar -->
  <span *ngIf="isNavbarVisible">
    <dynamic-element-lazy-navbar *ngxLazyEl></dynamic-element-lazy-navbar>
  </span>

  <!-- Section 2 - About -->

  <!-- <div id="about"></div> -->
  <!-- *ngIf="isAboutVisible" -->
  <div id="about" (scroll)="scrollHandler($event)">
    <app-about-section *ngIf="isAboutVisible"></app-about-section>
  </div>


  <section id="contact">
    <h1>Contact</h1>
    <p>soon ...</p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing., ipsum. ipsum dolor
      sit amet, consectetur adipisicing elit. Sequi dicta numquam, adipisci modi
      minima debitis!
    </p>
  </section>

</div>
