<div class="container-fluid">

  <!-- Section 2 - Home -->
  <app-home-section></app-home-section>

  <!-- Navbar -->
  <span *ngIf="isNavbarVisible">
    <dynamic-element-lazy-navbar *ngxLazyEl></dynamic-element-lazy-navbar>
  </span>

  <!-- Section 2 - About -->
  <app-about-section></app-about-section>

  <section id="projects">
    <h1>Projects</h1>
    <p>soon ...</p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius illum
      voluptatibus doloremque impedit ipsa, tempora facere ipsum repellendus
      eligendi fugiat ea, distinctio eaque corrupti aliquid. Nihil voluptatem
      libero ipsum quis rerum obcaecati voluptates sunt dolores! Corrupti
      reiciendis ipsam quisquam deleniti dolores quis, ullam rem esse. Deleniti
      nam ex consequuntur totam.
    </p>
  </section>

  <section id="contact">
    <h1>Contact</h1>
    <p>soon ...</p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing., ipsum. ipsum dolor
      sit amet, consectetur adipisicing elit. Sequi dicta numquam, adipisci modi
      minima debitis!
    </p>
  </section>
</div>
