<div class="container-fluid">
  <section id="contact">


    <div id="contactTitle">
      <div class="underline">
        <a class="custom-underline">
          <h1>CONTACT</h1>
        </a>
      </div>
    </div>

    <div id="titleAboveEmailBox">
      <h4>
        <small>
          Have a question or want to work together?
        </small>
      </h4>
    </div>

    <div id="emailBox">


      <div class="field">
        <input type="text" name="name" class="input" placeholder="Name" [(ngModel)]="email.name">
        <br>
        <input class="textarea" placeholder="Your Message" [(ngModel)]="email.bodyOfMessage">

      </div>

      <button type="submit" (click)="sendEmail(email)" class="button is-danger is-large">Submit</button>

    </div>

    <div class="wrapper">
      <div class="square">
        <a class="link" href="https://www.facebook.com/orielbasson/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>

      <div class="square">
        <a class="link" href="https://www.linkedin.com/in/orielbasson/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>

      <div class="square">
        <a class="link" href="https://github.com/OrielBasson" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-code-branch"></i>
        </a>
      </div>

      <div class="square">
        <a>
          <i class="fas fa-envelope" (click)="copyToClipBoard('oriel@orielbasson.com')"
            popover="Email was copied to clipboard" [outsideClick]="true"></i>
        </a>
      </div>

      <div class="push"></div>
    </div>
  </section>
</div>
