<div class="container-fluid">
  <section id="contact">
    <div id="contactTitle">
      <div class="underline">
        <a class="custom-underline">
          <h1>CONTACT</h1>
        </a>
      </div>
    </div>

    <div id="emailBox">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing., ipsum. ipsum dolor
        sit amet, consectetur adipisicing elit. Sequi dicta numquam, adipisci
        modi minima debitis!
      </p>
    </div>

    <div class="wrapper">
      <div class="square">
        <a>
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>

      <div class="square">
        <a class="link" href="https://www.linkedin.com/in/orielbasson/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>

      <div class="square">
        <a class="link" href="https://github.com/OrielBasson" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-code-branch"></i>
        </a>
      </div>

      <div class="square">
        <a>
          <i class="fas fa-envelope" (click)="copyToClipBoard('oriel@orielbasson.com')"></i>
        </a>
      </div>

      <div class="push"></div>
    </div>
  </section>
</div>
